@page
@model WebApp.Pages_Recipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recipe</h4>
    <hr />
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.RecipeName) 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.RecipeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.TimeNeeded)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.TimeNeeded) minutes
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Servings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Servings) pax
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Category.CategoryName)
        </dd>
        @foreach (var item in Model.Recipe.IngredientRecipes)
        {
            <dt class="col-sm-2">
                @item.Ingredient.IngredientName
            </dt>
            <dd class="col-sm-10">
                @item.IngredientAmount g
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Recipe.Instruction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Recipe.Instruction)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Recipe.RecipeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
