﻿@page
@model WebApp.Pages.Recipes.FindRecipeModel

@{
    ViewData["Title"] = "FindRecipe";
}

<h1>Find your Recipe</h1>

<h4>Enter your ingredients</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ingredient.IngredientName" class="control-label"></label>
                <input asp-for="Ingredient.IngredientName" class="form-control" />
                <span asp-validation-for="Ingredient.IngredientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient.LocationId" class="control-label"></label>
                <select asp-for="Ingredient.LocationId" class ="form-control" asp-items="ViewBag.LocationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Ingredient.Amount" class="control-label"></label>
                <input asp-for="Ingredient.Amount" class="form-control" />
                <span asp-validation-for="Ingredient.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-for="ToDoAction" value="Insert" class="btn btn-primary" />
                <input type="submit" asp-for="ToDoAction" value="Search" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Ingredient</th>
      <th scope="col">Amount (g)</th>
    </tr>
  </thead>
  <tbody>
  @foreach (var ingredient in Model.ChosenIngredients)
  {
      <tr>
          <td>@ingredient.IngredientName</td>
          <td>@ingredient.Amount</td>
      </tr>
  }
  </tbody>
</table>


<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}