@page
@model WebApp.Pages_Recipes.IndexModel

@{
    ViewData["Title"] = "Recipes";
}

<h1>Recipes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form class="form-group" method="get">
    <div class="form-inline">
        <input asp-for="Search" value="@Model.Search" placeholder="Search" class="form-control" />
        <input asp-for="ToContain" value="@Model.ToContain" placeholder="Include" class="form-control" />
        <input asp-for="NotToContain" value="@Model.NotToContain" placeholder="Exclude" class="form-control" />
    </div>
    <p>&nbsp;</p>
    <div class="form-inline">
        <label class="control-label">Number of Servings </label> 
        <input asp-for="NumberOfPax" value="@Model.NumberOfPax" placeholder="Number Of Servings" class="form-control"/>
        <label class="control-label">Maximum Time </label>
        <input asp-for="MaxTimeToMake" value="@Model.MaxTimeToMake" placeholder="Max Times" class="form-control"/>
    </div>
    <p>&nbsp;</p>
    <div class="form-group col-md-3">
        <label for="exampleFormControlSelect1">Sort by : </label>
        <select class="form-control form-control-sm" asp-for="SortBy" id="exampleFormControlSelect1">
            <option value="TimeLow">Time(low to hight)</option>
            <option value="TimeHigh">Time (high to low)</option>
        </select>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
        <input type="submit" value="Reset" name="ToDoActionReset" class="btn btn-secondary"
               @(string.IsNullOrWhiteSpace(Model.Search) && string.IsNullOrWhiteSpace(Model.ToContain) &&
                 string.IsNullOrWhiteSpace(Model.NotToContain) && Model.MaxTimeToMake == 0 && Model.NumberOfPax <= 1 ? 
                   "disabled=\"disabled\"" : "")/>
    </div>
</form>
<p>Found @Model.Recipe.Count Recipes</p>

<div class="row">

    @foreach (var item in Model.Recipe)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card">

                <div class="card-header">
                    @Html.DisplayFor(modelItem => item.RecipeName)
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <br/>
                        <p>@Html.DisplayFor(modelItem => item.TimeNeeded ) minutes</p>
                        @foreach (var ingredient in item.IngredientRecipes)
                        {
                            <p>@Html.Raw(ingredient.Ingredient.IngredientName) : @Html.Raw(ingredient.IngredientAmount) g</p>
                        }
                        <br/>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    <br/>

                    <a asp-page="./Edit" asp-route-id="@item.RecipeId" class="card-link">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.RecipeId" class="card-link">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.RecipeId" class="card-link">Delete</a>
                </div>
            </div>
        </div>
    }

</div>
@*
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].TimeNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Servings)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Instruction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeNeeded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servings)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instruction)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RecipeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RecipeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RecipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@