@page
@model WebApp.Pages_Ingredients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ingredients</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].IngredientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredient[0].Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ingredient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IngredientId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IngredientId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IngredientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
