@page
@model WebApp.Pages_Locations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Location</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location[0].LocationName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Location) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LocationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LocationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
