@page
@model WebApp.Pages_IngredientRecipes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IngredientRecipe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IngredientRecipe.IngredientAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IngredientRecipe.IngredientAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IngredientRecipe.Recipe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IngredientRecipe.Recipe.Instruction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IngredientRecipe.Ingredient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IngredientRecipe.Ingredient.IngredientName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.IngredientRecipe.IngredientRecipeId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
