@page
@model WebApp.Pages_IngredientRecipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>IngredientRecipes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IngredientRecipe[0].IngredientAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngredientRecipe[0].Recipe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IngredientRecipe[0].Ingredient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IngredientRecipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.Instruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredient.IngredientName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.IngredientRecipeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.IngredientRecipeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.IngredientRecipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
